*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

h1
{
   
    font-family: serif;
    margin-bottom: 10px;
}

.titulo
{
    background-color: #E2B164 ;
    padding: 30px;
}



.familia
{
    background-color: lightsalmon;
    padding: 30px;

}
